/*------------------------------------------------------------------
CSS reset

My own reset stylesheet based in Eric Meyer's reset
(http://meyerweb.com/eric/tools/css/reset/) and HTML5 doctor Reset
Stylesheet (http://html5doctor.com/html-5-reset-stylesheet/)

Author:	javier Salinas
Version:	1.0
Last change:	17/06/2015 []
License:    none (public domain)
URL:	http://www.github.com/javiersalinas00 
-------------------------------------------------------------------*/

html {
	-ms-text-size-adjust: 100%;
  	-webkit-text-size-adjust: 100%;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
    font-size: 16px;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
 *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline:none;
    border:none;
    box-shadow: none;
}
h1, h2, h3, h4, h5, h6 {
    margin:0;
    line-height: inherit;
}

h1 {
    font-size: 3.052em;
}

h2 {
    font-size: 2.441em;
}

h3 {
    font-size: 1.953em;
}

h4 {
    font-size: 1.563em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}
p, pre{
    margin-bottom:14px;
}

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
b, strong {
    font-weight: bold;
}

i, em, cite {
    font-style: italic;
}

big {
     font-size: 1.6em;
}

small {
    font-size: 1.2em;
}
ol, ul {
	list-style: none;
	margin:0;
	padding:0;
}
ul li, ul ul li, ul ul ul li, ol li, ol ol li, ol ol ol li, ul ol ol li, ul ul ol li, ol ul ul li, ol ol ul li {
    list-style: none;
	margin:0;
	padding:0;
	display:table;
}
ol ol, ol ol ol, ul ul, ul ul ul, ol ul, ol ul ul, ol ol ul, ul ol, ul ol ol, ul ul ol {
    list-style: none;
	margin:0;
	padding:0;
	display:table;
}
nav ul, nav ol {
    list-style-type:none;
}
a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
a:active, a:hover {
	outline: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border:none;
}
table tr, table tr td {
    border:none;
}

fieldset {
    border: 1px solid #000;
    padding:15px;
}
legend {
    white-space: normal;
    *margin-left: -7px;
}
button, input, select, textarea {
    font-family: sans-serif;
    *vertical-align: middle;
    outline:none;
}
button, input {
    line-height: normal;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize:none;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
    *overflow: visible;
}
button[disabled], input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
    *height: 13px;
    *width: 13px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: none;
    padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
audio, canvas, video {
    display: inline-block;*display: inline;*zoom: 1;
}
input:-webkit-autofill {
	background: #fff !important;
}
em, i {
	font-style: italic;
}
strong, b {
	font-weight: bold;
}
pre, code {
	font-family: Monaco, Courier, monospace;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
}
blockquote, q {
	quotes: "" "";
}
blockquote:before, blockquote:after, q:before,  q:after {
	content: "";
}
a, input[type="submit"], input[type="button"], button, label[for] {
	cursor: pointer;
}
img {
	-ms-interpolation-mode: bicubic;
	max-width: 100%;
    height: auto;
    border: none
}
iframe {
  width: 100%;
}
/* BOOTSTRAP RESETS */
.container .jumbotron, .container-fluid .jumbotron {border-radius: 0; padding:30px;}
.carousel-control {
    background-color: transparent !important;
    filter: none !important;
    opacity: 1;
}
.carousel-control.right, .carousel-control.left {background-image: none !important;}
.form-control {
    box-shadow: none !important;
    border-radius:none;
}
.form-control:hover, .form-control:focus {
    box-shadow: none !important;
    border: solid 1px #ccc !important;
}